body {
    background-color: white;
    display: block;
    margin: 8px;
  }
  .top-nav {
    background:whitesmoke;
    text-align: right;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
  }

  .top-nav a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-in-out;
  }

  .top-nav a:hover {
    transform: scale(1.1);
  }

  .main-nav {
    background: whitesmoke;
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 1000;
  }
  .nav
      {
          background: whitesmoke;
          text-align: center;
          padding: 19px;
          position: fixed;
          width: 100%;
          z-index: 1000;
          top: 0;
          display: flex;
          align-items: center;
      }
      .nav a
      {
          display: inline-block;
          padding: 20px 20px;
          text-decoration: none;
          color: black;
          transition: transform 0.3s ease-in-out;
      }
      .nav a:hover
      {
          transform: scale(1.1);
      }
      .nav div {
          display: inline-block;
          padding: 20px 20px;
          text-decoration: none;
      }
      .top
      {
          color: white;
          margin-left: 450px;
      }
      .brand-logo 
      {
          max-height: 40px;
          margin-left: 10px;
      }
      .brand-logo:hover
      {
          transform: scale(1.2);
      }
      .search-box
      {
          margin-left: auto;
      }
      footer 
      {
        background-color: #333;
        color: white;
        padding: 20px;
      }
      .footer-content {
        display: flex;
        letter-spacing: 20px;
        justify-content: end;
        text-align: right;
      }
      .footer-content :hover
      {
         color:antiquewhite;
      }
      .social-icons a {
        color: red;
        text-decoration: none;
        margin-right: 10px;
      }
      .company-details p {
        margin: 5px 0;
      }
      .input-content {
        text-align: center;
        margin-top: 20px;
      }
  
      input[type="searchbox"] {
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
      }
  
      input[type="searchbox"]::placeholder {
        color: #aaa;
      }
      .btn-search
      {
        font-size: 16px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px;
        transition: background-color 0.3s ease;
      }
      .btn-search:hover
      {
        background-color: antiquewhite;
      }
      h2
      {
        margin-left: 120px;
      }
      .abc
      {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
      }
      .call, .mail, .Location
      {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
        background-color: whitesmoke;
      }
      .mail
      {
        width: 10;
        padding: 40px;
      }
      .Location
      {
        
        padding: 60px;
      }
      .return-instructions {
        margin: 20px;
        padding: 15px;
        margin-left: 120px;
        font-family: sans-serif;

      }
      .return-instructions br {
        margin-bottom: 10px;
      }
      
      .return-instructions h2 {
        margin-top: 0;
        margin-right: 120px;
      }
      
      .return-instructions ol {
        padding-left: 20px;
        list-style-type: decimal; 
      }
      .return-button {
        display: block; 
        margin-top: 15px;
        padding: 10px 20px;
        background-color: black; 
        color: #fff;
        text-decoration: none; 
        border: none; 
        border-radius: 10px;
        max-width: 125px;
      }
      
      .return-button:hover {
        background-color: #333;
      }
